<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/inicio.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Concesionarios AutoNET</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aplicación creada en Ionic con una base de datos en Firebase. Autor Joaquín Díaz.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
